.dailyTopContainer{
    background-color: rgb(215, 232, 248);
    border:rgb(254, 109, 196) solid 3px;
    border-radius: 10px;
    
    width: 80%;
    height: 150px;
    
    margin: auto;
    margin-left: 30px;
}