footer{
    width: 96%;
    height: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: row;

    margin: auto;

    border-radius: 10px;
}

footer .item{
    display: inline-block;
    flex: 50%;
    margin: auto;
}
footer .item ul{
    display: inline-block;
}