footer{
    width: 96%;
    height: 80%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    text-align: center;
    right: auto;

    margin: auto;

    border-radius: 10px;
}