nav{
    width: 90%;
    height: 50px;
    background-color: hsl(335, 93%, 71%);
    display: flex;
    flex-direction: row;
    text-align: center;

    margin: auto;

    border-radius: 10px;
}

nav a{
    flex: 50%;
    vertical-align:top;
    line-height:50px;
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: hsl(335, 41%, 51%);;
    border-radius: 10px;
}
