nav{
    width: 90%;
    height: 50px;
    background-color: hsl(335, 93%, 71%);
    box-shadow: 0px 0px 10px 2px gray;
    display: flex;
    flex-direction: row;
    text-align: center;

    margin: auto;

    border-radius: 10px;
}

nav a{
    flex: 50%;
    vertical-align:top;
    line-height:50px;
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: hsl(335, 41%, 51%);;
    border-radius: 10px;
}

.shoppingCard{
    width: 60px;
    height: 60px;

    position: absolute;
    margin-left: -8%;
    margin-top: 130px;
}
.containsProducts{
    background-color: rgb(255, 74, 74);
    width: 20px;
    height: 20px;
    border-radius: 1000px;

    margin-left: -8%;
    margin-top: 130px;
    position: absolute;
}
.onUrlPage{
    background-color: rgb(109, 69, 91);
    border-radius: 10px;
}
