body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../../images/layout/chapterbackground.jpg");;
}

.contentContainer .title{
    font-size: 40px;
    margin-left: 50px;
}

.pageLayoutGrid{
    display: grid;
    grid-template-areas:
        'home home navbar navbar navbar navbar'
        'dailyTop dailyTop content content content content'
        'popularTop popularTop content content content content'
        'popularTop popularTop content content content content'
        'popularTop popularTop content content content content'
        'footer footer footer footer footer footer';

    height: 150vh;
    width: 98.92vw;
    grid-auto-rows: 16.645%;
    grid-auto-columns: 16.645%;
}

.pageLayoutGrid > div{
    display: flex;
}

.pageLayoutGrid .home{
    grid-area: home;
}

.pageLayoutGrid .navbar{
    grid-area: navbar;
}

.pageLayoutGrid .dailyTop{
    grid-area: dailyTop;
}

.pageLayoutGrid .dailyTop{
    grid-area: dailyTop;
}

.pageLayoutGrid .popularTop{
    grid-area: popularTop;
}

.pageLayoutGrid .content{
    grid-area: content;
}

.pageLayoutGrid .footer{
    grid-area: footer;
}