.contentContainer{
    background-color: aqua;
    border-radius: 10px;
    
    width: 90%;
    height: 700px;
    
    margin: auto;
}

.contentContainer .productContainer{

    background-image: url('../images/layout/wood.jpg');
    width: 90%;
    height: 75%;
    margin-left: 5%;
    margin-top: 10%;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr))
}